@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
=======
Fonts
=======
*/
@font-face {
  font-family: "Inter";
  src: url("../fonts/static/Inter-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/static/Inter-SemiBold.ttf");
  font-weight: 600;
}

/* 
=======
Custom Radio Input
=======
*/
.custom-radio {
  position: relative;
}
/* hide old factory input style */
.custom-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
}
/* create custon input */
